
@import url("https://fonts.google.com/specimen/Poppins");
@font-face {
  font-family: "poppins";
  src: url("https://fonts.google.com/specimen/Poppins");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-Red: hsl(0, 100%, 74%);
  --primary-Green: hsl(154, 59%, 51%);
  --primay-Blue: hsl(248, 32%, 49%);
  --neutral-DarkBl: hsl(249, 10%, 26%);
  --neutral-GrayishBl: hsl(246, 25%, 77%);
}
body {
  font-family: "poppins", sans-serif;
  background-image: linear-gradient(var(--primary-Red), var(--primary-Red)),
    url("images/bg-intro-desktop.png");
    background-color: var(--primary-Red);
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode:hue;
  overflow-x: hidden;
}
.form-container{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding: 10em;
    font-family: "poppins", sans-serif;
}
.form-itself{
    margin-top: 1em;
    background-color: #fff;
    width: 30em;
    height: 27em;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
}
form {
    width: 300px;
    margin: 0 auto;
    margin-left: 3.2em;
}
.nmp, input[type="button"]{
    width:130%;
    padding: 0.8em;
    font-size: 16px;
    border: 1.3px solid #dedede;
    border-radius: 4px;
    outline: none;
    text-indent: 1em;
}
.form-group{
    position: relative;
    margin-bottom: 10px;
}
.inp-icon .inp{
    position: absolute;
    left: 22em;
    top: 0.7em;
    width: 1.3em;
    height: 1.3em;
    display: none;
}
.left{
    position: relative;
left: 17.5em;
font-size: 13px;
  color: #fff;
}
.form-group p {
    font-size: 12px;
    padding-left: 1.6em;
    width: 50em;
    color: var(--neutral-GrayishBl);
  }
  .form-group p a {
    text-decoration: none;
    color: var(--primary-Red);
    font-weight: 700;
  }
  button{
    border: 1px solid var(--primay-Blue);
    background-color: var(--primay-Blue);
    color: #fff;
    width: 100%;
    font-weight: 600;
    border-radius: 7px;
    padding: 1em;
}
#button{
    background-color: var(--primary-Green);
    color: #fff;
}
button span{
    font-weight: 400; 
    color: #dedede;
}
.headline-container{
    position: relative;
}
.headline-hold{
    position: absolute;
    bottom: 19em;
}
.headline-itself{
    padding-left: 10em;
}
.headline-itself h1{
    color: #fff;
    font-size: 2.3em;
    width: 11em;
    font-weight: 800;
    text-align-last:auto;
}
.paragraph{
    width: 30em;
    color: #dedede;
    margin-top: 1em;
    line-height: 1.7em;
}
.attribution { text-align: center; font-size: 17px; }
.attribution a { color: hsl(228, 45%, 44%);  }
@media(max-width:400px){
    body{
    background-image: linear-gradient(var(--primary-Red), var(--primary-Red)),
      url("images/bg-intro-mobile.png"); 
  }
    .headline-hold{
        bottom: 49em;
        text-align: center;   
    }
    .headline-itself{
        padding-left: 0;
    }
    .headline-itself h1{
        font-size: 2em;
        width: 11em;
        font-weight: 700;
    }
    .paragraph{
        width: 17.6em;
        text-align: center;
       margin-left: 2.7em;
    }
    .form-container{
        justify-content: center;
        align-items: center;
        display: flex;
    }
     .form-container{
        padding: 10em;
        margin-top: 12em;
    }
    .form-itself{
        width: 20em;
    }
    form {
        margin-left: 2em;
    }
    .form-group{
        margin-bottom: 5px;
    }
    .nmp, input[type="button"]{
        width:90%;
    }
    .inp-icon .inp{
        left: 14.5em;
    }
    .left{
    left: 12.1em;
    font-size: 10.5px;
    }
    .form-group p {
        padding-left: 1.9em;
        width: 20em;
        text-align-last: center;
        line-height: 1.7em;
      }
      button{ 
        padding: 6em;
        height: 0.5px;
        padding-top: 2em;
        margin-top: 4em;
        line-height: 1.7em;
    }
    .attribution{width: 20em;}
}